<!DOCTYPE html>
<!-- Last Published: Sun May 12 2024 19:29:33 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="www.mosquee-versailles.fr" data-wf-page="64398b34b5efde4eadae0da9" data-wf-site="641dab129205bc6655ff0661" lang="fr">

	<head>
		<meta charset="utf-8"/>
		<title>Contactez-nous | Mosquée de Ezanville</title>
		<meta content="Vous souhaitez entrer en contact avec la mosquée de Ezanville ? Nous sommes là pour répondre à toutes vos questions et vous accompagner dans votre pratique religieuse. Remplissez notre formulaire de contact pour en savoir plus sur nos activités." name="description"/>
		<meta content="Contactez-nous | Mosquée de Ezanville" property="og:title"/>
		<meta content="Vous souhaitez entrer en contact avec la mosquée de Ezanville ? Nous sommes là pour répondre à toutes vos questions et vous accompagner dans votre pratique religieuse. Remplissez notre formulaire de contact pour en savoir plus sur nos activités." property="og:description"/>
		<meta content="Contactez-nous | Mosquée de Ezanville" property="twitter:title"/>
		<meta content="Vous souhaitez entrer en contact avec la mosquée de Ezanville ? Nous sommes là pour répondre à toutes vos questions et vous accompagner dans votre pratique religieuse. Remplissez notre formulaire de contact pour en savoir plus sur nos activités." property="twitter:description"/>
		<meta property="og:type" content="website"/>
		<meta content="summary_large_image" name="twitter:card"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<link href="{{ asset('css/site-mosquee.css') }}" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com" rel="preconnect"/>
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
		<link href="{{ asset('images/Logo(transparent-noir)2025-ACCE.png') }}" rel="shortcut icon" type="image/x-icon"/>
		<link href="{{ asset('images/Logo(transparent-noir)2025-ACCE.png') }}" rel="apple-touch-icon"/>
		<style>
			.no-scroll {
				overflow: hidden;
			}
		</style>
		<!-- Finsweet Cookie Consent -->
		<script async src="https://cdn.jsdelivr.net/npm/@finsweet/cookie-consent@1/fs-cc.js" fs-cc-mode="opt-in"></script>
	</head>

	<body class="body home">
		{% include 'base.html.twig' %}
		<div class="section_title">
			<div class="container-3 w-container">
				<div class="div-block-2">
					<h2 class="rl-heading-style-h2 page_h2">Mentions légales, CGU &amp; Politique de confidentialité</h2>
				</div>
			</div>
		</div>
		<div class="section contact">
			<div data-w-id="20f445d4-5663-faf4-06b6-dd3cf29ae259" style="opacity:0" class="container-2 w-container">
				<div class="div-block">
					<p class="paragraph-8">
						<span class="text-span-13">Mentions légales :</span><br/><br/>Association des Musulmans de Versailles<br/>Adresse : 31 rue Jean Mermoz, 78000 Versailles<br/>Téléphone : 01 39 53 06 06<br/>Email : contact@mosquee-versailles.fr<br/>Directeur de la publication : Mohamed Ould Kherroubi<br/>‍<br/>Hébergeur :<br/>Webflow,Inc., 398 11th Street, 94103 San Francisco, États-Unis<br/>contact@webflow.com<br/><br/><span class="text-span-14"><br/></span><br/><span class="text-span-26">Conditions générales d&#x27;utilisation<br/></span><br/>En utilisant le site web de l&#x27;Association des Musulmans de Versailles, vous acceptez les présentes conditions générales d&#x27;utilisation. Si vous n&#x27;êtes pas d&#x27;accord avec ces conditions, veuillez ne pas utiliser notre site.<br/><br/><span class="text-span-28">Propriété intellectuelle<br/></span><br/>Le contenu du site web de l&#x27;Association des Musulmans de Versailles, y compris les textes, les images, les logos et les vidéos, sont protégés par les lois sur la propriété intellectuelle. Vous ne pouvez pas copier, reproduire, modifier, distribuer ou utiliser tout ou partie du contenu sans l&#x27;autorisation écrite de l&#x27;Association des Musulmans de Versailles.<br/><br/><span class="text-span-29">Utilisation du site web<br/></span><br/>Vous êtes autorisé à utiliser le site web de l&#x27;Association des Musulmans de Versailles pour votre usage personnel et non commercial. Vous ne pouvez pas utiliser le site pour des activités illégales, frauduleuses ou nuisibles. Vous ne pouvez pas accéder ou tenter d&#x27;accéder à des parties du site qui ne sont pas destinées au public.<br/><br/><span class="text-span-30">Liens vers d&#x27;autres sites<br/></span><br/>Notre site peut contenir des liens vers d&#x27;autres sites. Nous ne sommes pas responsables du contenu de ces sites et nous ne pouvons pas garantir la sécurité des informations que vous y partagez. Nous vous encourageons à lire les politiques de confidentialité et les conditions d&#x27;utilisation de ces sites.<br/><br/><span class="text-span-31">Limitation de responsabilité<br/></span><br/>L&#x27;Association des Musulmans de Versailles ne peut être tenue responsable des dommages directs, indirects, spéciaux, accessoires ou consécutifs résultant de l&#x27;utilisation de son site web ou de l&#x27;impossibilité d&#x27;utiliser le site.<br/><br/><span class="text-span-32">Modification des conditions générales d&#x27;utilisation<br/></span><br/>L&#x27;Association des Musulmans de Versailles se réserve le droit de modifier les présentes conditions générales d&#x27;utilisation à tout moment et sans préavis. Nous vous encourageons à consulter régulièrement cette page pour être informé de toute mise à jour.<br/><br/><span class="text-span-33">Loi applicable<br/></span><br/>Les présentes conditions générales d&#x27;utilisation sont régies par les lois françaises. Tout litige découlant de l&#x27;utilisation de notre site web sera soumis à la compétence exclusive des tribunaux français.<br/>En utilisant notre site web, vous reconnaissez avoir lu, compris et accepté ces conditions générales d&#x27;utilisation.<br/><br/><br/><br/><span class="text-span-27">Politique de confidentialité<br/></span>‍<br/>L&#x27;Association des Musulmans de Versailles (AMV) s&#x27;engage à protéger la vie privée de ses membres et de ses utilisateurs. Cette politique de confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos informations personnelles.<br/><br/><span class="text-span-19">Collecte et utilisation des informations personnelles<br/></span><br/>L&#x27;AMV peut collecter des informations personnelles lorsque vous adhérez à l&#x27;association, lorsque vous vous inscrivez à des événements ou lorsque vous utilisez notre site web. Les informations personnelles que nous collectons peuvent inclure votre nom, votre adresse électronique, votre adresse postale et votre numéro de téléphone.<br/>Nous utilisons ces informations personnelles pour vous fournir des services tels que l&#x27;adhésion à l&#x27;association, l&#x27;envoi de newsletters, la communication d&#x27;informations sur les événements et les activités organisées par l&#x27;AMV, ainsi que pour répondre à vos demandes et questions.<br/><br/><span class="text-span-20">Divulgation des informations personnelles<br/></span><br/>L&#x27;AMV ne vendra, ne louera, ni ne divulguera vos informations personnelles à des tiers, sauf dans les cas suivants :<br/>- Si nous y sommes contraints par la loi ou une procédure judiciaire ;<br/>- Si nous pensons que la divulgation est nécessaire pour protéger nos droits, votre sécurité ou la sécurité de tiers.<br/><br/><span class="text-span-21">Sécurité des informations personnelles<br/></span><br/>L&#x27;AMV prend des mesures de sécurité appropriées pour protéger vos informations personnelles contre la perte, l&#x27;utilisation abusive, l&#x27;accès non autorisé, la divulgation, l&#x27;altération ou la destruction. Nous utilisons des protocoles de sécurité standard pour protéger les informations personnelles que vous nous fournissez.<br/><br/><span class="text-span-22">Cookies<br/></span><br/>L&#x27;AMV utilise des cookies sur son site web pour améliorer votre expérience utilisateur. Les cookies sont de petits fichiers texte stockés sur votre ordinateur ou votre appareil mobile lorsque vous visitez notre site web. Nous utilisons des cookies pour comprendre comment vous utilisez notre site web et pour améliorer la qualité de votre visite.<br/><br/><span class="text-span-23">Vos choix et droits<br/></span><br/>Vous avez le droit de demander à l&#x27;AMV d&#x27;accéder, de corriger ou de supprimer vos informations personnelles. Vous pouvez également nous demander de limiter l&#x27;utilisation de vos informations personnelles ou de vous opposer à leur traitement. Pour exercer ces droits, veuillez nous contacter par e-mail à l&#x27;adresse contact@mosquee-versailles.fr.<br/><br/><span class="text-span-24">Modifications de la politique de confidentialité<br/></span><br/>L&#x27;AMV se réserve le droit de modifier cette politique de confidentialité à tout moment. Nous vous recommandons de consulter régulièrement cette politique pour prendre connaissance des éventuelles mises à jour.<br/><br/><span class="text-span-25">Contactez-nous<br/></span><br/>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter par e-mail à l&#x27;adresse contact@mosquee-versailles.fr<br/><br/><br/>Date de dernière mise à jour : 17 avril 2023<br/></p>
				</div>
			</div>
		</div>
		<div class="dons">
			<div class="container-4 w-container">
				<div class="columns w-row">
					<div data-w-id="b47282f2-d6cd-8217-e415-f93b02f2f775" class="column-2 w-col w-col-8">
						<h2 class="heading-3">Vous souhaitez effectuer un don ?</h2>
						<p class="paragraph-2">Votre don est une contribution essentielle pour nous aider à maintenir notre Mosquée et à continuer de servir au mieux la communauté. Nous vous remercions de votre générosité.</p>
					</div>
					<div data-w-id="b47282f2-d6cd-8217-e415-f93b02f2f77a" class="w-col w-col-4">
						<a href="{{ path('donation') }}" class="button dons_btn donsbtn_div button-2 button-3 w-button">FAIRE UN DON</a>
					</div>
				</div>
			</div>
		</div>
		<div class="cookies mobile">
			<div id="consentPopup" fs-cc="banner" class="fs-cookie-popup">
				<div class="cookie-tag">La Mosquée de Versailles respecte votre vie privée</div>
				<p class="paragraph-12">
					<a href="#" class="link-4">
						<strong class="bold-text-2">La Mosquée de Versailles utilise des Cookies strictement nécessaires, de navigation et de marketing. Pour plus d&#x27;informations, consultez notre
						</strong>
					</a>
					<a href="/mentions-legales-politique-de-confidentialite-cgu-mosquee-de-versailles" aria-current="page" class="link-5 w--current">
						<span class="text-span-65">politique de confidentialité</span>
					</a>
					<a href="#" class="link-4">
						<strong class="bold-text-2">. Acceptez le dépôt de tous nos cookies en cliquant sur &quot;</strong>
					</a>
					<span class="text-span-66">Tout accepter</span>
					<a href="#" class="link-4">
						<strong class="bold-text-2">&quot; ou sélectionnez les catégories de cookies déposés en cliquant sur &quot;</strong>
					</a>
					<span class="text-span-67">Préférences</span>
					<a href="#" class="link-4">
						<strong class="bold-text-2">” sinon refusez nos cookies non strictement nécessaire en cliquant sur &quot;</strong>
					</a>
					<span class="text-span-68">Refuser</span>
					<a href="https://static.zara.net/static/pdfs/ZARA/cookies-policy/cookies-policy-fr_FR-20201028.pdf" class="link-4">
						<strong class="bold-text-2">”.</strong>
					</a>
				</p>
				<div id="w-node-_3f660296-941f-6d56-8312-75a184aac82c-84aac80f" class="button-wrapper w-clearfix">
					<a fs-cc="allow" id="w-node-_3f660296-941f-6d56-8312-75a184aac82d-84aac80f" href="#" class="button-4 accept w-button">Tout accepter</a>
					<a fs-cc="deny" id="w-node-_3f660296-941f-6d56-8312-75a184aac82f-84aac80f" href="#" class="button-4 deny w-button">Refuser</a>
					<a fs-cc="open-preferences" id="w-node-_3f660296-941f-6d56-8312-75a184aac831-84aac80f" href="#" class="preferences-link">Préférences</a>
				</div>
			</div>
			<div fs-cc="preferences" class="fs-preferences-manager-wrapper">
				<div class="preferences-container">
					<div class="privacy-title">Préférences de gestion des cookies</div>
					<p class="paragraph-11">Vous avez la possibilité de désactiver certains types de stockage qui ne sont peut-être pas nécessaires pour le fonctionnement de base du site web. Veuillez noter que le blocage de certains types de cookies peut avoir un impact sur votre expérience utilisateur.
						<a href="/mentions-legales-politique-de-confidentialite-cgu-mosquee-de-versailles" aria-current="page" class="link-6 w--current">
							<span>Plus d&#x27;informations</span>
						</a>
						<a href="https://www.osano.com/legal/cookies" target="_blank" class="link-privacy"></a><br/></p>
					<a fs-cc="allow" href="#" class="button-4 w-button">Accepter tous les cookies</a>
					<a fs-cc="close" href="#" class="close-button w-inline-block"><img src="https://cdn.prod.website-files.com/641dab129205bc6655ff0661/6444295e2491e72ad7629940_6441cd3b2f158240bad529a2_np_close_25798_27313D.svg" loading="lazy" alt="" class="image-10"/></a>
					<div class="consents-form w-form">
						<form id="email-form" name="email-form" data-name="Email Form" method="get" class="w-clearfix" data-wf-page-id="643c9402fbba328bc14a0a54" data-wf-element-id="3f660296-941f-6d56-8312-75a184aac844">
							<div class="grid">
								<div class="text-div">
									<label for="name" class="cookie-tag">Essentiel</label>
									<p class="paragraph-11">Ces éléments sont nécessaires pour activer les fonctionnalités de base du site Web.<br/></p>
								</div>
								<p id="w-node-_3f660296-941f-6d56-8312-75a184aac84c-84aac80f" class="paragraph-11 bold">Toujours actifs<br/></p>
							</div>
							<div class="grid">
								<div class="text-div">
									<label for="name" class="cookie-tag">Marketing</label>
									<p class="paragraph-11">Ces éléments sont utilisés pour diffuser des publicités plus pertinentes pour vous et vos intérêts.<br/></p>
								</div>
								<label id="w-node-_3f660296-941f-6d56-8312-75a184aac856-84aac80f" class="w-checkbox">
									<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" fs-cc-checkbox="marketing" style="opacity:0;position:absolute;z-index:-1"/><span class="checkbox-label w-form-label" for="checkbox-4"></span>
								</label>
							</div>
							<div class="grid">
								<div class="text-div">
									<label for="name" class="cookie-tag">Personnalisation</label>
									<p class="paragraph-11">Cookies permettant de mémoriser les choix que vous faites (tels que votre nom d&#x27;utilisateur, votre langue ou la région dans laquelle vous vous trouvez).<br/></p>
								</div>
								<label id="w-node-_3f660296-941f-6d56-8312-75a184aac860-84aac80f" class="w-checkbox">
									<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" fs-cc-checkbox="personalization" style="opacity:0;position:absolute;z-index:-1"/><span class="checkbox-label w-form-label" for="checkbox-3"></span>
								</label>
							</div>
							<div fs-cc-checkbox="analytics" class="grid">
								<div class="text-div">
									<label for="name" class="cookie-tag">Analytiques</label>
									<p class="paragraph-11">Cookies permettant de comprendre les interactions des visiteurs avec le site et l&#x27;identification des problèmes techniques.<br/></p>
								</div>
								<label id="w-node-_3f660296-941f-6d56-8312-75a184aac86a-84aac80f" class="w-checkbox">
									<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" fs-cc-checkbox="analytics" style="opacity:0;position:absolute;z-index:-1"/><span class="checkbox-label w-form-label" for="checkbox-3"></span>
								</label>
							</div><input type="submit" data-wait="Please wait..." fs-cc="deny" class="button-4 deny w-button" value="Refuser"/><input type="submit" data-wait="Please wait..." fs-cc="submit" class="button-4 field-wrapper w-button" value="Confirmer mes choix"/></form>
						<div class="w-form-done">
							<div>Thank you! Your submission has been received!</div>
						</div>
						<div class="w-form-fail">
							<div>Oops! Something went wrong while submitting the form.</div>
						</div>
					</div>
				</div>
			</div>
			<div fs-cc="manager" class="fs-manager-opener"><img src="https://cdn.prod.website-files.com/641dab129205bc6655ff0661/6441cd3b2f158211ffd529a3_np_cookie_80793_FFFFFF.svg" loading="lazy" fs-cc="open-preferences" alt=""/></div>
		</div>
	</body>
	{% include 'footer.html.twig' %}
</html>
