
  <div class="banner">
      <div class="f-banner-container-between">
        <div class="f-banner-block">
          <a href="./don.php" class="f-banner-button w-button">FAIRE UN DON</a>
        </div>
        <div class="f-banner-block contact_btn">
          <a
            href="./contact.php"
            class="f-banner-button contact_btn w-button"
            >Contactez-nous</a
          >
        </div>
      </div>
    </div>
    <div class="nav">
      <div
        data-animation="default"
        class="f-navigation w-nav"
        data-easing2="ease"
        data-easing="ease"
        data-collapse="medium"
        role="banner"
        data-no-scroll="1"
        data-duration="400"
        data-doc-height="1"
      >
        <div class="f-navigation-container-middle">
          <a
            href="/"
            aria-current="page"
            class="f-navigation-logo-link-mobile w-inline-block w--current"
            ><img
              src="ACECE_logotype(PDF)-1.png"
              loading="lazy"
              width="48"
              alt=""
              class="image-9"
          /></a>
          <nav role="navigation" class="f-navigation-menu w-nav-menu">
            <div
              data-w-id="d2aafa68-1626-b3e6-8b64-30152e20e973"
              class="link_div"
            >
              <a
                href="./our-mosquee.php"
                class="f-navigation-link w-nav-link"
                >La Mosquée</a
              >
              <div class="hover_line"></div>
            </div>
            <div
              data-w-id="31f45707-39c9-449d-51b7-4ce19152d16a"
              class="link_div"
            >
              <a
                href="./activities.php"
                class="f-navigation-link w-nav-link"
                >Activités</a
              >
              <div class="hover_line"></div>
            </div>
            <div
              data-w-id="aa655bf8-24ea-e4a3-b282-ac9e0eacf523"
              class="link_div"
            >
              <a
                href="./prayer.php"
                class="f-navigation-link w-nav-link"
                >La Prière</a
              >
              <div class="hover_line"></div>
            </div>
            <a
              href="/"
              aria-current="page"
              class="f-navigation-logo-link-middle w-inline-block w--current"
              ><img
                src="ACECE_logotype(PDF)-1.png"
                loading="lazy"
                width="130"
                alt=""
                class="f-logo-mark"
            /></a>
            <div
              data-w-id="b1cb0b8d-75a6-f80f-8c12-eb1e76bfbf12"
              class="link_div"
            >
              <a
                href="./actualities.php"
                class="f-navigation-link w-nav-link"
                >Actualités</a
              >
              <div class="hover_line"></div>
            </div>
            <div
              data-w-id="aba0c08f-dad7-f8b1-7043-715105222e15"
              class="link_div"
            >
              <a href="./don.php" class="f-navigation-link w-nav-link">Dons</a>
              <div class="hover_line"></div>
            </div>
            <div
              data-w-id="5200e958-4746-4801-75d3-98d152e8b822"
              class="link_div"
            >
              <a
                href="./informations-pratiques-mosquee-de-ezanville.php"
                class="f-navigation-link w-nav-link"
                >Informations pratiques</a
              >
              <div class="hover_line"></div>
            </div>
          </nav>
          <div class="f-navigation-menu-button hamburger w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>