{% block footer %}
<div class="footer">
  <div class="f-container-large">
    <div class="f-footer-bottom">
      <div class="f-footer-brand">
        <img src="{{ asset('images/INSTA-ACCE-_10.webp') }}" loading="lazy" alt="" width="130" />
      </div>
      <div class="f-footer-group">
        <div id="w-node-_3ff533a8-9846-0f65-69a4-f5377d42c928-7d42c91f" class="f-footer-menu">
          <a href="/mentions-legales-politique-de-confidentialite-cgu-mosquee-de-versailles" class="f-footer-link w-inline-block">
            <div class="text-block">
              Mentions légales | CGU | Politique de confidentialité
            </div>
          </a>
          <div class="f-footer-vertical-divider"></div>
          <a href="./contact.php" class="f-footer-link w-inline-block">
            <div class="text-block-2">Contactez-nous</div>
          </a>
          <div class="f-footer-vertical-divider"></div>
          <a href="{{ path('donation') }}" class="f-footer-link w-inline-block">
            <div class="text-block-3">Faire un don</div>
          </a>
        </div>
        <div class="f-footer-social-row-large">
          <a href="https://www.facebook.com/MosqueeEzanville" target="_blank" class="f-button-facebook-icon w-inline-block">
            <div class="f-button-icon w-embed">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.6663 13.2498H15.7497L16.583 9.9165H13.6663V8.24984C13.6663 7.3915 13.6663 6.58317 15.333 6.58317H16.583V3.78317C16.3113 3.74734 15.2855 3.6665 14.2022 3.6665C11.9397 3.6665 10.333 5.04734 10.333 7.58317V9.9165H7.83301V13.2498H10.333V20.3332H13.6663V13.2498Z" fill="white" />
              </svg>
            </div>
          </a>
        </div>
      </div>
      <p class="f-footer-detail">
        © {{ "now"|date("Y") }} Association des Musulmans de Ezanville | Tous droits réservés
      </p>
    </div>
  </div>
</div>
<div class="cookies mobile">
  <div id="consentPopup" fs-cc="banner" class="fs-cookie-popup">
    <div class="cookie-tag">
      La Mosquée de Ezanville respecte votre vie privée
    </div>
    <p class="paragraph-12">
      <a href="#" class="link-4"><strong class="bold-text-2">La Mosquée de Ezanville utilise des Cookies strictement
          nécessaires, de navigation et de marketing. Pour plus
          d&#x27;informations, consultez notre
        </strong></a><a href="/mentions-legales-politique-de-confidentialite-cgu-mosquee-de-versailles" class="link-5"><span class="text-span-65">politique de confidentialité</span></a><a href="#" class="link-4"><strong class="bold-text-2">. Acceptez le dépôt de tous nos cookies en cliquant sur
          &quot;</strong></a><span class="text-span-66">Tout accepter</span><a href="#" class="link-4"><strong class="bold-text-2">&quot; ou sélectionnez les catégories de cookies déposés en
          cliquant sur &quot;</strong></a><span class="text-span-67">Préférences</span><a href="#" class="link-4"><strong class="bold-text-2">” sinon refusez nos cookies non strictement nécessaire en
          cliquant sur &quot;</strong></a><span class="text-span-68">Refuser</span><a href="https://static.zara.net/static/pdfs/ZARA/cookies-policy/cookies-policy-fr_FR-20201028.pdf" class="link-4"><strong class="bold-text-2">”.</strong></a>
    </p>
    <div id="w-node-_3f660296-941f-6d56-8312-75a184aac82c-84aac80f" class="button-wrapper w-clearfix">
      <a fs-cc="allow" id="w-node-_3f660296-941f-6d56-8312-75a184aac82d-84aac80f" href="#" class="button-4 accept w-button">Tout accepter</a><a fs-cc="deny" id="w-node-_3f660296-941f-6d56-8312-75a184aac82f-84aac80f" href="#" class="button-4 deny w-button">Refuser</a><a fs-cc="open-preferences" id="w-node-_3f660296-941f-6d56-8312-75a184aac831-84aac80f" href="#" class="preferences-link">Préférences</a>
    </div>
  </div>
  <div fs-cc="preferences" class="fs-preferences-manager-wrapper">
    <div class="preferences-container">
      <div class="privacy-title">Préférences de gestion des cookies</div>
      <p class="paragraph-11">
        Vous avez la possibilité de désactiver certains types de stockage
        qui ne sont peut-être pas nécessaires pour le fonctionnement de base
        du site web. Veuillez noter que le blocage de certains types de
        cookies peut avoir un impact sur votre expérience utilisateur.
        <a href="/mentions-legales-politique-de-confidentialite-cgu-mosquee-de-versailles" class="link-6"><span>Plus d&#x27;informations</span></a><a href="https://www.osano.com/legal/cookies" target="_blank" class="link-privacy"></a><br />
      </p>
      <a fs-cc="allow" href="#" class="button-4 w-button">Accepter tous les cookies</a><a fs-cc="close" href="#" class="close-button w-inline-block"><img src="https://assets-global.website-files.com/641dab129205bc6655ff0661/6444295e2491e72ad7629940_6441cd3b2f158240bad529a2_np_close_25798_27313D.svg" loading="lazy" alt="" class="image-10" /></a>
      <div class="consents-form w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="w-clearfix" data-wf-page-id="6420c6485d2729ccd86b7390" data-wf-element-id="3f660296-941f-6d56-8312-75a184aac844">
          <div class="grid">
            <div class="text-div">
              <label for="name" class="cookie-tag">Essentiel</label>
              <p class="paragraph-11">
                Ces éléments sont nécessaires pour activer les
                fonctionnalités de base du site Web.<br />
              </p>
            </div>
            <p id="w-node-_3f660296-941f-6d56-8312-75a184aac84c-84aac80f" class="paragraph-11 bold">
              Toujours actifs<br />
            </p>
          </div>
          <div class="grid">
            <div class="text-div">
              <label for="name" class="cookie-tag">Marketing</label>
              <p class="paragraph-11">
                Ces éléments sont utilisés pour diffuser des publicités plus
                pertinentes pour vous et vos intérêts.<br />
              </p>
            </div>
            <label id="w-node-_3f660296-941f-6d56-8312-75a184aac856-84aac80f" class="w-checkbox">
              <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
              <input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" fs-cc-checkbox="marketing" style="opacity: 0; position: absolute; z-index: -1" /><span class="checkbox-label w-form-label" for="checkbox-4"></span>
            </label>
          </div>
          <div class="grid">
            <div class="text-div">
              <label for="name" class="cookie-tag">Personnalisation</label>
              <p class="paragraph-11">
                Cookies permettant de mémoriser les choix que vous faites
                (tels que votre nom d&#x27;utilisateur, votre langue ou la
                région dans laquelle vous vous trouvez).<br />
              </p>
            </div>
            <label id="w-node-_3f660296-941f-6d56-8312-75a184aac860-84aac80f" class="w-checkbox">
              <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
              <input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" fs-cc-checkbox="personalization" style="opacity: 0; position: absolute; z-index: -1" /><span class="checkbox-label w-form-label" for="checkbox-3"></span>
            </label>
          </div>
          <div fs-cc-checkbox="analytics" class="grid">
            <div class="text-div">
              <label for="name" class="cookie-tag">Analytiques</label>
              <p class="paragraph-11">
                Cookies permettant de comprendre les interactions des
                visiteurs avec le site et l&#x27;identification des
                problèmes techniques.<br />
              </p>
            </div>
            <label id="w-node-_3f660296-941f-6d56-8312-75a184aac86a-84aac80f" class="w-checkbox">
              <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
              <input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" fs-cc-checkbox="analytics" style="opacity: 0; position: absolute; z-index: -1" /><span class="checkbox-label w-form-label" for="checkbox-3"></span>
            </label>
          </div>
          <input type="submit" data-wait="Please wait..." fs-cc="deny" class="button-4 deny w-button" value="Refuser" /><input type="submit" data-wait="Please wait..." fs-cc="submit" class="button-4 field-wrapper w-button" value="Confirmer mes choix" />
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div fs-cc="manager" class="fs-manager-opener">
    <img src="https://assets-global.website-files.com/641dab129205bc6655ff0661/6441cd3b2f158211ffd529a3_np_cookie_80793_FFFFFF.svg" loading="lazy" fs-cc="open-preferences" alt="" />
  </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=641dab129205bc6655ff0661" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://assets-global.website-files.com/641dab129205bc6655ff0661/js/webflow.2496b38c9.js" type="text/javascript"></script>
<script>
  $(".hamburger").on("click", function() {
    $("body").toggleClass("no-scroll");
  });

  $(".hamburger-close").on("click", function() {
    $("body").removeClass("no-scroll");
  });
</script>
{% endblock %}
